body {  /* format of the background and text */
margin: 0;
padding: 0;
background: black;
color: #e0e0e0;
font-family: 'Courier New', monospace;
overflow: hidden;
}


#game-container { /* centers the content of the game */
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}


#title { /* text animation duration and colour */
font-size: 48px;
color: rgb(63, 5, 5);
margin-bottom: 20px;
opacity: 0;
animation: fadeIn 3s forwards;
}


#enter-btn {
padding: 12px 24px;
background: transparent;
border: 2px solid #e0e0e0;
color: #e0e0e0;
cursor: pointer;
font-size: 20px;
opacity: 0;
animation: fadeIn 3s forwards 2s;
}


#enter-btn:hover {
background: #601a1a;
color: black;
}


@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}


#horror-text {
font-size: 24px;
opacity: 0;
margin-top: 40px;
line-height: 1.5;
white-space: pre-line;
}